dist/
src/dist/
src/build/
src/*.egg-info/
**/__pycache__/

.svn/
.vscode

examples/*.log
testing/*.sh

**/OLD
**/*_old
**/*_OLD
**/*.OLD
**/*.bak
**/*.DEACTIVATED
OLD
*_old
*_OLD
*.OLD
*.bak
*.DELETE
*.DEACTIVATED

install*.sh
publish*.sh
uninstall*.sh
test*.sh

